.about-section {
    width: 100%;
    padding: 100px 5vw;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    max-width: 800px;
    text-align: center;
}

.about-me .title {
    font-size: 18px;
    color: var(--accentColor);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-me .para {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 300;
    color: #eae5ec;
}

@media screen and (max-width: 768px) {
    .about-me .para {
        font-size: 20px;
    }
}