.contact-section {
    padding: 100px 5vw;
    background-color: var(--backgroundColor);
    color: #eae5ec;
}

.contact-container h3 {
    font-size: 10vw;
    /* Large Responsive Text */
    text-transform: uppercase;
    margin-bottom: 50px;
    line-height: 0.8;
    opacity: 0.1;
    font-weight: 700;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 50px;
}

.contact-box {
    flex: 1;
    min-width: 250px;
}

.contact-box h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.contact-box p {
    font-size: 20px;
    margin-bottom: 40px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-social {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    transition: color 0.3s;
    text-decoration: none;
}

.contact-social:hover {
    color: var(--accentColor);
}

.contact-box h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-box h2 span {
    font-weight: 600;
    color: var(--accentColor);
}

.contact-box h5 {
    color: #888;
    display: flex;
    align-items: center;
    gap: 5px;
}